@inherits SettingsBase

<div class="settings" hidden="@Hidden">
    <h2>Options</h2>

    <label>
        Theme:
        @if (Themes is object)
        {
            <select>
                @foreach (var theme in Themes)
                {
                    <option value="@theme" @onclick="async() => await Editor.SetTheme(theme)" selected="@(Editor?.Theme == theme)">@theme</option>
                }
            </select>
        }
    </label>

    <label>
        Mode:
        @if (Modes is object)
        {
            <select>
                @foreach (var mode in Modes)
                {
                    <option value="@mode" @onclick="async() => await Editor.SetMode(mode)" selected="@(Editor?.Mode == mode)">@mode</option>
                }
            </select>
        }
    </label>
</div>